use flake

# auto-setup project
export MIX_HOME="$PWD/.nix-shell/mix"
export HEX_HOME="$PWD/.nix-shell/hex"
export MIX_ARCHIVES="$MIX_HOME/archives"

export PATH=$MIX_HOME/bin:$PATH
export PATH=$HEX_HOME/bin:$PATH

export LANG=en_US.UTF-8
export ERL_AFLAGS="-kernel shell_history enabled"
export ERL_LIBS=$HEX_HOME/lib/erlang/lib

if ! test -d deps && test -d mix.exs; then
  mix deps.get
fi
